body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(88, 81, 78);
}

.buttonBuy{
  color: black;
  margin-top: 2%;
  background-color: rgb(219, 187, 23);
}

.center{
  margin-left: 35%;
  margin-top: 2%;
}
.buttoCheckout{
  margin-top: 10%;
}

.screen{
  height: 100vh;
}
.section{
  width: 30%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
